body {
    color: rgb(27, 220, 20);
    background: rgb(129, 5, 129);
    margin: 0px;
    font-family: "Lora", sans-serif;
}

header {
    border-bottom: solid 2px rgb(220,20,60);
    padding: 20px;
    font-size: 32px;
    color: rgb(220,20,60);
}

.chamada{
    background: rgb(165, 2, 165);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;

}

p {
    font-size: 20px;
}

img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}